:root {
  --font-roboto: 'Roboto', sans-serif;
  --font-inter: 'Poppins', sans-serif;
  --nav-background: #1a2236;
  --main-background: #1c1a19;
  --font-white: #fff;
  --font-orange: #ff6b00;
  --font-round: 'Crete Round', serif;
  --ff-headings: 'Playfair Display', serif;
}

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  text-decoration: none;
  outline: none;
  border: none;
}

body {
  font-family: var(--font-inter);
  font-style: normal;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

nav {
  display: flex;
  margin-right: 20px;
}

.home_page {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

h1 {
  font-family: var(--ff-headings);
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  padding-top: 30px;
  color: #1a2236;
}

.intro_para {
  font-weight: 400;
  font-style: normal;
  color: #1a2236;
  font-family: var(--font-inter);
  font-size: 23px;
  padding-top: 30px;
}

.rectangle_20 {
  box-sizing: border-box;
  position: absolute;
  width: 288px;
  height: 50px;
  left: 16px;
  top: 390px;
  padding-top: 120px;
}

.start-container {
  margin: 12px;
}

.Start-collaboration {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  background-color: #1a2236;
  padding-block: 12px;
  width: 100%;
  border: 1px solid #1a2236;
}

.illustration-header {
  height: 20vh;
  background: url(./icons/image_geometry_2.svg) no-repeat;
  background-size: cover;
  margin-top: 30px;
}
